<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% if pass_mismatch == true %}
    <div>
        The passwords you entered do not match.
    </div>
{% endif %}
    <div>
      <form action="/?{{ query_key }}={{ query_value }}" method="POST">
          <div>
              <label for="user-name">Username: </label>
              <input type="text" name="user_name" id="user-name" required minlength="4" maxlength="32" size="16">
          </div>
          <div>
              <label for="password">Password: </label>
              <input type="password" name="password" id="password" required minlength="8" maxlength="128" size="16">
          </div>
          <div>
              <label for="re-password">Retype-Password: </label>
              <input type="password" name="re_password" id="re-password" required minlength="8" maxlength="128" size="16">
          </div>
          <div>
              <input type="submit" value="Register">
          </div>
      </form>
    </div>
</body>
</html>