<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>400</title>
</head>
<body>
    <div>
        <h1>400 Bad Request</h1>
    </div>
    <div>
        The passwords you entered did not match.
    </div>
</body>
</html>